<section>
  <span class='no-interpolations'>{{t "no.interpolations"}}</span>
</section>

<section>
  <span class='static-interpolations'>{{t "with.interpolations" clicks="45"}}</span>
</section>

<section>
  <button class='increment' {{action "increment"}}>Increment Click Count</button>

  <span class='dynamic-interpolations'>{{t "with.interpolations" clicks=clickCount}}</span>
</section>

<section>
  <button class='change-dynamic-key' {{action "changeDynamicKey" "no.interpolations.either"}}>Change dynamic key</button>

  <span class='dynamic-key'>{{t dynamicKey}}</span>
</section>

<section>
  <button class='switch-to-es' {{action "switchLocale" "es"}}>Switch to Spanish</button>
</section>

<section>
  <span class='locale-override'>{{t "no.interpolations" locale="es"}}</span>
</section>
